body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: #c69c9c;
}

.container {
  padding: 40px;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

.btn {
  margin-top: 20px;
}

.btn a {
  padding: 12px 25px;
  margin: 10px;
  background: white;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}